@import "~bootstrap/scss/bootstrap";

#admin {
    height: 100vh;
    display: flex;

    #wrapper {
        flex-grow: 1;
    }
}

body {
    // background-color: rgb(20, 31, 61);
}

.my-jumbo {
    background-image: url(../img/358759.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
}

.my-name {
    font-family: "Patua One";
    font-size: 46px;
    text-shadow: 2px 2px #100028;
}


.td-delete{
    width: 15%;
}
